{% extends "base.html" %}
{% block page_title -%}
Posts
{%- endblock %}

{% block site_content %}
<section class="post-list">
    {% for post in content_list %}
    <div class="post-list-item">
        <h2 class="post-list-item-title"><a href="{{post.permalink}}">{{post.title}}</a></h2>
        <div class="post-meta">
            <span class="post-list-date">{{post.date}}</span>
            <span class="post-list-cat">Category: <a href="{{post.category.permalink}}">{{post.category.name}}</a></span>
        </div>
        <div class="post-excerpt"><p>{{post.excerpt}}</p></div>
        {% if post.thumbnail != "" %}
        <div class="post-thumbnail-container">
            <img src="{{post.thumbnail}}">
        </div>
        {% endif %}
    </div>
    {% endfor %}
</section>
<div class="pagination-bar">
    <div class="pagination-left">
        <div class="pagination-prev">
            {% if page_current > 0 %}
            <span><a href="{{'/post/p' + (page_current-1)|string + '.html'}}">Newer</a></span>
            {% endif %}
        </div>
    </div>
    <div class="pagination-right">
        <div class="pagination-next">
            {% if page_current < page_num - 1 %}
            <span><a href="{{'/post/p' + (page_current+1)|string + '.html'}}">Older</a></span>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}