{% extends "base.html" %}

{% block page_title %}{{post.title + " - "}}{% endblock %}

{% block page_head %}
<link rel="stylesheet" href="{{config.staticurl}}/post.css">
<meta property="og:type" content="article">
<meta property="og:title" content="{{post.title}}">
{% if post.excerpt != "" -%}
<meta name="description" content="{{post.excerpt}}">
<meta property="og:description" content="{{post.excerpt}}">
{%- endif %}
{% if post.thumbnail != "" -%}
<meta property="og:image" content="{{post.thumbnail}}">
{%- endif %}
{% endblock %}

{% block site_content %}
<div class="post-heading">
    <h1 class="post-title">{{ post.title }}</h1>
    <div class="post-date">{{ post.date }}</div>
</div>
<div class="post-content">
    {{ post.content }}
</div>
<div id="disqus_thread"></div>
<script>
/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

var disqus_config = function () {
this.page.url = '{{ config.url + post.permalink }}';  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = '{{ post.permalink }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://austinchang-me.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                            
{% endblock %}
