<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" >
        <link rel="stylesheet" href="{{config.staticurl}}/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+TC&display=swap" rel="stylesheet"> 
        <title>{% block page_title %}{% endblock %}{{config.title}}</title>
        {% if debug == False %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-43N3L3LDL9"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-43N3L3LDL9');
        </script>
        {% endif %}
        {% block page_head %}{% endblock %}
    </head>
    <body>
        <header>
            <div class="header-banner">
                <div class="logo">
                    <a href="/"><img class="logo-img" src="{{config.logo_url}}"></a>
                </div>
                <div class="header-subtitle-container">
                    <h2 class="header-subtitle">{{config.subtitle}}</h2>
                </div>
            </div>
            <nav>
                <!--
                <ul>
                    {% for page in pages %}
                    <a href="{{page.permalink}}"><li>{{page.title}}</li></a>
                    {% endfor %}
                </ul>
                -->
                <div class="nav-links">
                    <ul>
                        <li><a href="/">首頁</a></li>
                        <li><a href="/post/category">文章分類</a></li>
                        {% for page in content.page %}
                        <li><a href="{{page.permalink}}">{{page.title}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </nav>
        </header>
        <div class="container">
            {% block site_content %}{% endblock %}
        </div>
        <footer>
            <p>Copyright © 2022 by Austin Chang</p>
        </footer>
    </body>
</html>