body {
    font-family: 'Noto Sans TC', sans-serif;
    color: #444;
}
p {
    text-indent: 2rem;
    color: #666;
}
a,a:visited {
    text-decoration: underline;
    color: inherit;
}
p a, p a:visited {
    color: #2892d8
}

.nav-links li>a, .nav-links li>a:visited {
    text-decoration: none;
    color: #444;
    background-color: #FFF;
    transition: 0.2s;
    display: block;
    height: 100%;
    width: 100%;
}
.nav-links li:hover>a {
    color: #FFF;
    background-color: #444;
    transition: 0.2s;
}
ul {
    list-style: none;
    padding-left: 1rem;
}
code {
    font-size: 16px;
    color: #444;
    background-color: #DDD;
}
pre {
    overflow-x: auto;
    background-color: #DDD;
    padding: 0.5em;
}

header {
    text-align: center;
}
header h1 {
    font-size: 48px;
    font-weight: lighter;
    margin: 0px;
}

header h2 {
    font-size: 16px;
    margin: 0px;
}

header nav {
    max-width: 965px;
    padding-left: 10%;
    padding-right: 10%;
    margin-left: auto;
    margin-right: auto;
}

header ul {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
}
header ul>li {
    flex: 1 1 auto;
    border: 1px solid #000;
    margin-left: 2px;
    margin-right: 2px;
}

.container {
    max-width: 965px;
    padding-left: 10%;
    padding-right: 10%;
    margin-left: auto;
    margin-right: auto;
}

.post-list-item {
    width: calc(100% - 15px);
    font-size: 18px;
    background-color: #FFF;
    padding-left: 5px;
    border-left: 10px solid #444;
    margin-bottom: 10px;
    transition: 0.2s;
}
.post-list-item:hover {
    background-color: #444;
    transition: 0.2s;
}
.post-list-item h3 {
    margin: 0px;
}
.post-list-item a {
    color: #444;
}
.post-list-item:hover a {
    color: #FFF;
}
.post-list-item a,.post-list-item:hover a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

footer {
    padding-top: 3em;
    padding-bottom: 3em;
    text-align: center;
    font-size: 14px;
    color: #666;
}