body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #222;
    background-color: #F0F0F0;
    font-size: 18px;
}
a,a:visited {
    text-decoration: underline;
    color: inherit;
}
p a, p a:visited {
    word-wrap: break-word;
    color: #2892d8
}

.nav-links {
	border-top: #222 1px solid;
	border-bottom: #222 1px solid;
}

.nav-links li>a, .nav-links li>a:visited {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    text-decoration: none;
    color: #444;
    letter-spacing: .2rem;
    transition: 0.2s;
    height: 100%;
    width: 100%;
}
.nav-links li:hover>a {
    color: #000;
    transition: 0.2s;
}
.nav-links ul {
    list-style: none;
}
ul {
    padding-left: 1rem;
    color: #444;
}

header nav {
	padding-top: 0.3rem;
	padding-bottom: 0.3rem;
	margin-top: 1rem;
	margin-bottom: 2.4rem;
    text-align: center;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
}

header ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
}
header ul>li {
    flex: 0 1 auto;
    border-right: 1px solid #222;
}
header ul>li:last-child {
    border-right: none;
}

code {
    font-size: 16px;
    color: #444;
    background-color: #DDD;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}
pre {
    overflow-x: scroll;
    overflow-y: scroll;
    max-height: 30rem;
    background-color: #DDD;
    padding: 0.5em;
}
pre code {
    padding: 0em;
}

header {
    max-width: 1280px;
    padding-left: 10%;
    padding-right: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    font-size: 16px;
}
.header-banner {
    display: flex;
    font-size: 18px;
}
.header-banner .logo {
    flex: 0 1 8rem;
}
.header-banner .logo>a {
    width: 100%;
    height: 100%;
}
.header-banner .logo img {
    max-height: 100%;
    max-width: 100%;
}
.header-banner .header-subtitle-container {
    flex: 1 1 auto;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-subtitle-container>h2 {
    text-align: center;
    margin: 0;
    font-family: monospace;
}

.nav-links input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.nav-links label {
    display: none;
}

@media screen and (max-width: 1024px) {
    body {
        font-size: 16px;
    }
    .header-banner {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 14px;
    }

    .header-banner .logo {
        flex: 0 1 8rem;
        height: 8rem;
    }
    header ul {
        flex-direction: column;
    }
    header ul>li {
        flex: 0 1 auto;
        height: 2.5rem;
        line-height: 2.5rem;
        width: 100%;
        border-bottom: 1px #222 solid;
        border-right: none;
    }
    header ul>li:last-child {
        border-bottom: none;
    }
    .nav-links label {
        display: inline-block;
        height: 2.4rem;
        line-height: 2.4rem;
        font-size: 20px;
        width: 100%;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        color: #444;
        cursor: pointer;
    }
    .nav-links > ul{
        display: none;
    }
    #nav-toggle:checked + ul {
        display: block;
        margin-bottom: 0rem;
    }
    p {
        letter-spacing: 0.1px;
        font-size: 16px;
    }
}

.container {
    max-width: 965px;
    padding-left: 10%;
    padding-right: 10%;
    margin-left: auto;
    margin-right: auto;
}

.post-list-item {
    width: calc(100% - 15px);
    font-size: 18px;
    margin-bottom: 0.2rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    padding-bottom: 4rem;
    padding-top: 0.8rem;
    border-bottom: #444 1px solid;
    transition: 0.2s;
}
.post-list-cat {
    margin-left: 0.8rem;
}
.post-list-item h2 {
    font-size: 2rem;
    margin-bottom: 0.2rem;
    margin-top: 0.2rem;
}
.post-list-item a {
    color: #444;
    transition: 0.2s;
}
.post-list-item:hover .post-list-item-title>a {
    color: #000;
    transition: 0.2s;
}
.post-list-item-title a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}
.post-thumbnail-container {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}
.post-thumbnail-container a {
    text-align: center;
}
.post-thumbnail-container img {
    max-width: 80%;
    max-height: 35rem;
}
.post-excerpt {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #444;
    font-size: 20px;
    line-height: 1.618;
    letter-spacing: 1.2px;
    word-wrap: break-word;
}

footer {
    padding-top: 3em;
    padding-bottom: 3em;
    text-align: center;
    font-size: 14px;
    color: #666;
}
footer p {
    text-indent: 0em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #666;
    font-size: 18px;
}